<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px;">
  <div class="col-10">
    <h4 style="color:rgb(120,120,120); margin-bottom:4px; "> {{job['title']}}          </h4>  
    <div>
      <b>Location:</b>  
      {{job['location']}}
    </div>
    {% if 'salary' in job %}
    <div>
      <b>Salary:</b>  
      {{job['salary']}}
    </div>
    {% endif %}
  </div>
  <div class="col-2">
    <button type="button" class="btn btn-outline-primary">Apply</button>

    <a href="mailto:test@test.com?cc=someoneelse@test.com; another@test.com; me@mysite.com&bcc=lastperson@theirsite.com&subject=Big%20News%20{{job['title']}}&body=My%20name%3A%20%3C%3E%0D%0A%0D%0AMy%20resume%3A%20%3C%3E%0D%0A%0D%0Amy%20linkedin%3A%20%3C%3E" type="button" class="btn btn-outline-primary float-right allign-middle">Apply Mail</a>

    
  </div>
</div>